<h1>Eliane Imóveis</h1>
<menu-nav></menu-nav>
<div class="row">
  <div class="six columns">
    <table>
      <tr>
        <td>
          <img src="assets/images/facebook-box.svg"/>
          Facebook:
        </td>
        <td>
          <a href="https://www.facebook.com/ElianeGImoveis">Eliane Gebhardt Imoveis</a>
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/images/whatsapp.svg"/>
          WhatsApps:
        </td>
        <td>
          (21) 99639-4069
        </td>
        <td>
          (21) 97951-8621
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/images/phone.svg"/>
          Telefone:
        </td>
        <td>
          (21) 3108-8386
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/images/mail.svg"/>
          Email:
        </td>
        <td>
          ligebhardt@gmail.com
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/images/place.svg" alt="" />
          Endereço:
        </td>
        <td>
          Estrada do Piaí. Nº 5296
        </td>
        <td>
          Sepetiba
        </td>
      </tr>
      <tr>
        <td>

        </td>
        <td>
          Rio de Janeiro
        </td>
        <td>
          RJ
        </td>
      </tr>
    </table>
  </div>
  <div class="six columns">
    <h5>Venha me visitar!</h5>
    <div id="map">

    </div>
  </div>

</div>
