<h1>Eliane Imóveis</h1>
<menu-nav></menu-nav>
<div class="row">
  <div class="six columns">
    <table>
      <tr>
        <td>
          <img src="assets/images/facebook-box.svg"/>
          Facebook:
        </td>
        <td>
          <a href="https://www.facebook.com/ElianeGImoveis">Eliane Gebhardt Imoveis</a>
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/images/whatsapp.svg"/>
          WhatsApps:
        </td>
        <td>
          (21) 996394069
        </td>
        <td>
          (21) 979518621
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/images/phone.svg"/>
          Telefone:
        </td>
        <td>
          (21) 31088386
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/images/mail.svg"/>
          Email:
        </td>
        <td>
          ligebhardt@gmail.com
        </td>
        <td>

        </td>
      </tr>
    </table>
  </div>
  <div class="six columns">
    <div id="map">

    </div>
  </div>

</div>
